:root {
    --primary: #FF3F00;
    --secondary: #FF7F11;
    --accent: #BEB7A4;

    --header-text: #FFFFFC;
    --standard-text: #000000;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: var(--standard-text);
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
}

h1 {
    margin: 0;
    font-size: 2rem;
}
h2 {
    font-size: 2.5rem;
    border-left: .25rem solid var(--accent);
    padding-left: .5rem;
    margin-left: .5rem;
}
h2 {
    font-size: 2rem;
}

h2, h3, h4 {
    color: var(--secondary);
}

header {
    /* background-color: var(--secondary); */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header h1 {
    color: var(--header-text);
    border:  none;
    text-align: center;
    background-color: var(--primary);
    padding: 1rem;
    border-bottom: .5rem solid var(--accent);
}

header div {
    display: flex;
    justify-content: center;
    /* background-color: var(--secondary); */
}

header button {
    border:  none;
    margin: 0 auto;
    width: 6rem;
    background-color: var(--accent);
    color: var(--header-text);
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

header .material-symbols-outlined {
    font-size: 2rem;
}

nav {
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
    padding: 1rem;
    background-color: var(--secondary);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
nav a {
    color: var(--header-text);
    background-color: var(--primary);
    padding: 1rem;
    border-radius: .5rem;
    border-left: .5rem solid var(--accent);
    border-right: .5rem solid var(--accent);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

header a {
    text-decoration: none;
}

main {
    padding: 1rem 0;
    max-width: 960px;
    margin: 0 auto;
}

footer {
    background-color: var(--primary);
    padding: 1rem;
    border-top: .5rem solid var(--accent);
    color: var(--header-text);
    text-align: center;
}

form {
    max-width: 550px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
}

form label, input[type="text"], input[type="date"], select {
    display: block;
}

input[type="text"], input[type="date"], input[type="email"], select {
    width: 100%;
    padding: .5rem;
    box-sizing: border-box;
}

input[type="submit"] {
    width: auto;
    background-color: var(--secondary);
    color: var(--header-text);
    padding: .5rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
}

fieldset label {
    display: inline;
}

fieldset {
    display: grid;
    grid-template-columns: 1rem auto;
    gap: .3rem;
}

.wireframe-img {
    width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}

.hide {
    display: none;
}

.secondary-bg {
    background-color: var(--secondary);
}

picture img {
    height: auto;
    max-width: 100%;
}

section {
    padding: .5rem;
}